$color-text-primary: #000000;
$color-text-secondary: #a2a0a0;

$color-accent-primary: #0070f0;
$color-accent-done: #006908;
$color-accent-tertiary: #e1e0e0;

$bg-primary: #f6f7f8;
$bg-secondary: #ffffff;
$bg-done: #d7f7c2;
$bg-image-overlay: #E4EAF0;

$bg-overlay: rgba(0, 0, 0, 0.4);
$shadow-color: rgba(0, 0, 0, 0.05);