.stats-page {
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	gap: 40px;

	&__title {
		font-size: 26px;
		font-weight: 600;
		text-align: center;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
